.btn {
  display: inline-block;
  border-radius: 10px;
}

.btn:hover {
  cursor: pointer;
}

.btn--primary {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.btn--primary:hover {
  background-color: #ee5244;
}

.password-toggle {
  padding: 3px 6px;
  border-radius: 5px;
  background-color: transparent;
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s cubic-bezier(.4,0,.2,1);
}

.password-toggle:hover {
  background-color: #e0e7e8;
  cursor: pointer;
}

.password-toggle img {
  width: 24px;
  height: 24px;
}