.main {
  margin: 0 auto;
  margin-top: 175px;
}


/* section intro */

.section-intro {
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.section-intro__hero {
  text-align: center;
}

.section-intro__hero .hero-message {
  max-width: 500px;
  margin: 0 auto;
}

.section-intro__hero .hero-heading {
  font-size: 5.2rem;
  font-weight: 600;
  letter-spacing: -1.1px;
  margin-bottom: 16px;
}

.section-intro__hero .hero-description {
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 24px;
}

.signup-btn {
  padding: 11px 24px;
  font-size: 1.8rem;
  font-weight: 600;
}

.section-intro__hero .hero-image {
  margin: 0 auto -44px auto;
  display: grid;
  grid-template-columns: .8fr .74fr 2.5fr 1.34fr .79fr;
  align-items: flex-end;
}

.hero-image__left,
.hero-image__right,
.hero-image__center {
  width: 100%;
  height: auto;
  grid-row: 1;
}

.section-intro__hero .hero-image__left {
  grid-column: 1 / span 2;
}

.section-intro__hero .hero-image__right {
  grid-column: -1 / -3;
  z-index: -1;
}

.section-intro__hero .hero-image__center {
  grid-column: 2 / span 3;
}


/* section review */

.section-review {}

.section-review__background {}

.section-review__summary {
  width: 100%;
  padding: 26px 24px 48px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  text-align: left;
  line-height: 1.25;
  background-size: cover;
  background-position: bottom;
  margin-top: -4px;
}

.section-review__summary p {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black-color);
  margin-bottom: 16px;
}

.section-review__summary .summary-left {
  max-width: 250px;
  margin: 0 50px;
  padding-bottom: 24px;
}

.section-review__summary .summary-left p:last-child {
  font-size: 1.8rem;
  font-weight: 600;
}

.section-review__summary .summary-right {
  max-width: 228px;
  margin: 0 50px;
  padding-bottom: 55px;
}

.section-review__summary .summary-right__partner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 12px;
}

.section-review__summary .summary-right__partner img {
  width: auto;
  height: 26px;
}


/* section feature */

.section-feature {
  max-width: var(--container-padding-max-width);
  padding: var(--container-padding);
  margin: 0 auto 64px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  justify-items: center;
  align-items: center;
}

.section-feature__message {
  max-width: 420px;
}

.section-feature__message h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 8px;
  line-height: 1.2;
}

.section-feature__message p:first-child {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 4px;
  color: var(--black-color);
}

.section-feature__message p:last-child {
  line-height: 1.5;
  color: var(--text-secondary-color);
}


/* section more info */

.section-more-info {
  max-width: var(--container-padding-max-width);
  padding: 0 var(--container-padding);
  margin: 0 auto 64px;
}

.section-more-info__header {
  margin-bottom: 64px;
  position: relative;
  max-width: 750px;
}

.section-more-info__heading {
  margin-bottom: 8px;
  padding-top: 24px;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
}

.section-more-info__header p {
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-secondary-color);
}

.section-more-info__heading::before {
  content: "";
  width: 43px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e44232;
}

.section-more-info__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.section-more-info__list-item img {
  width: 90px;
  height: 80px;
  margin-bottom: 8px;
}

.section-more-info__list-item h3 {
  margin-bottom: 4px;
  color: var(--black-color);
  font-size: 1.8rem;
  font-weight: 600;
}

.section-more-info__list-item p {
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-secondary-color);
}

.section-more-info__list-item a svg {
  margin-right: 4px;
  font-size: 1.4rem;
}

.section-more-info__list-item a:hover {
  text-decoration: underline;
}


/* section statistic */

.section-stat {
  max-width: var(--container-padding-max-width);
  padding: var(--container-padding);
  padding-bottom: 0;
  margin: 0 auto 64px;
  display: flex;
  flex-wrap: nowrap;
}

.section-stat__message {
  margin-right: 64px;
  flex: 1;
}

.section-stat__message h2 {
  margin-bottom: 8px;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
}

.section-stat__message p {
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-secondary-color);
}

.section-stat__message a:hover {
  text-decoration: underline;
}

.section-stat__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.section-stat__list-item img {
  width: 150px;
  margin-bottom: 24px;
}

.section-stat__list-item p {
  font-weight: 400;
  color: var(--text-secondary-color);
}

.section-stat__list-item p span {
  display: block;
  color: var(--black-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.25;
}


/* section pre footer */

.section-pre-footer {
  background-color: #FFF9F3;
}

.section-pre-footer .wrapper {
  max-width: var(--container-padding-max-width);
  padding: 50px 32px 32px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section-pre-footer__image {
  max-width: 404px;
  margin-top: -96px;
}

.section-pre-footer__message {
  max-width: 449px;
}

.section-pre-footer__message h2 {
  margin-bottom: 16px;
  font-size: 4rem;
  font-weight: 600;
}